.forgot-password {
    flex-basis:50%;
    padding: 90px 50px 530px 100px;
    color: #fff;
}

.forgot-container {
    width: 60%;
}


.forgot-password a {
    text-decoration: none;
    color: #fff;
}

.arrow-place {
    margin-bottom: 90px;
}

.arrow-place a {
    font-size: 30px;
    color:#5d6985;
}

.heading h2 {
    font-size: 30px;
    margin: 0;
}