.support-section {
    padding: 210px 0px 610px 0px;
    flex-basis:50%;
    background: linear-gradient(18deg, rgba(102,51,204,1) 0%, rgba(102,153,204,1) 40%);
    border-radius: 0% 5% 5% 0% / 10% 50% 50% 10% ;
}

.login {
    display: flex;
    background-color: #10172f;
}

.logo-section {
    display: flex;
    flex-direction: row;
}

.logo {
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size:100%;
    width: 78px;
    height: 60px;
}

.label {
    color: rgba(70, 69, 69,100%);
    font-size: 49px;
}

.sign-in-section {
    flex-basis:50%;
}