.login {
    display: flex;
    background-color: #04102c;
    color: white;
}

.support-section {
    display: flex;
    flex-direction: column;
    padding: 210px 50px 610px 100px;
    flex-basis:50%;
    background: linear-gradient(18deg, rgba(96,84,190,1) 0%, rgba(62,170,223,1) 40%);
    border-radius: 0% 5% 5% 0% / 10% 50% 50% 10% ;
    align-items: center;
}

.logo-section {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.logo {
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size:100%;
    width: 49px;
    height: 60px;
    margin-right: 10px;
}

.label {
    color: rgba(255, 255, 255, 0.527);
    font-size: 29px;
}

.buttons-place {
    display: flex;
    color: white;
    padding: 20px 20px 0px 20px;
}

.button {
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.253);
    text-transform: uppercase;
    border-radius: 5%;
}
.or {
    padding: 10px;
}


.sign-in-section {
    flex-basis:50%;
    padding: 210px 50px 610px 100px;

}

.welcome h2 {
    font-size: 30px;
    margin: 0 0 5px 0;
}

.welcome span {
    color:#5d6985;
}

.form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.form input {
    width: 57%;
    background-color: #04102c;
    color: white;
    border: none;
    border-bottom: 1px solid #28334f;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 40px;
    transition:ease-in-out 0.4s;

}

input:focus{
    outline: none;
    border-bottom: 1px solid #00bdff;
    transition:ease-in-out 0.4s;
}

::placeholder { 
    color: #5d6985;
  }

  .confirm-button {
    width: 50%;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    background: linear-gradient(18deg, rgba(96,84,190,1) 0%, rgba(62,170,223,1) 40%);
    cursor: pointer;

  }

  .forgot-password {
    margin-top: 40px;
    color:#5d6985;
}

.forgot-password a {
    text-decoration: none;
    color: #0092e5;
}