.custom-input {
    background-color: #04102c;
    color: white;
    border: none;
    border-bottom: 1px solid #28334f;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 40px;
    transition:border-bottom ease-in-out 0.4s;

}

.custom-input:focus{
    outline: none;
    border-bottom: 1px solid #00bdff;
    transition:ease-in-out 0.4s;
}

::placeholder { 
    color: #5d6985;
  }

.input-error {
    border-bottom: 1px solid red;

}