body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 999px){
  .App {
    flex-direction: column;
  }

  #support {
    border-radius: 0px;
  }

  #login {
    padding: 100px 50px 100px 50px;

}
#login .sign-in-section {
  width: 100%;
}

#forgot-password {
  padding: 70px 50px 100px 50px;

}
#forgot-password .forgot-container {
  width: 100%;
}

}
@media screen and (max-width: 599px){
  .App {
    height: 100vh;
  }
  #support {
    display: none;
  }

  #login {
    padding: 100px 10px 100px 10px;
  }

  #forgot-password {
    padding: 70px 10px 100px 10px;
  
  }
}